if ! has nix_direnv_version || ! nix_direnv_version 3.0.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.0/direnvrc" "sha256-0kA4qOyrH+8fJdHFklBXw7nWtJPj+/wA/S/OXPSgB54="
fi
use flake
