{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": -9.3817334,
    "longitude": -40.4968875,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Casa",
    "time_zone": "America/Recife",
    "external_url": null,
    "internal_url": null,
    "currency": "BRL",
    "country": "BR",
    "language": "pt-BR"
  }
}